.GuestContainer {
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--text-light, #C1C1C1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.OwnerContainer {
  width: 100%;
  height: 100%;  
} 
  

.ProfileContainer {
  width: 80%;
    height: 251px;
    /* padding: 16px 24px; */
    gap: 16px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.10);
}

.RecordContainer {
  width: 80%;
  height: 164px;
  /* padding: 16px 24px; */
  gap: 16px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.10);
  border-radius: 24px;
}

.ArchvimentsContainer {
  width: 80%;
  height: 64px;
  /* padding: 16px 24px; */
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.10);
  border-radius: 24px;
}

.ReadyContainer {
  display: flex;
  flex-direction: column;
  height: 32px;
}

.RecentRecordComment {
    color: var(--primary, #3874CB);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.text-medium {
    font-size: 16px;
  }
  